*{
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: copperplate;
    background-color: black;

}

#timer {
    border: 3vmin solid white;
    width: 10vmin;
    border-radius: 50%;;
    border-color: green;

}

#board {
    display: grid;
    grid-template-columns: repeat(4, 35vmin);
    grid-template-rows: repeat(3, 20vmin);
    
    margin-top: 20px;
    
}

#board > div {
    border: 0.5vmin solid white;
    background-color: green;
}

#board > div:hover {
    cursor: pointer;
    
}

#board > div:active {
    transform: scale(0.9);
    transition: transform .3s;

}

.front{
    background-color: green;
    text-align: center;
    margin-top: 15px;
    
}

header {
    font-size: 10vmin;
    color: white;
}

h1 {
    color: white;
}

button {
    height: 40px;
    margin: 25px;
    border-radius: 25px;
}

button:hover {
    color: blue;
    background-color: orange;
}

img {
    height: 75px;
    width: 120px;
}